{% extends '_base.html' %}

{% load static %}

{% block title %}Dashboard{% endblock %}

{% block page_title %}
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
{% endblock %}

{% block content %}
 <!-- Left side columns -->
 <div class="col-lg-12">
    <div class="row">

      <!-- Customers Card -->
      <div class="col-xxl-6 col-xl-6">

        <div class="card info-card customers-card">

          <div class="card-body">
            <h5 class="card-title">Votantes</h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-people"></i>
              </div>
              <div class="ps-3">
                <h6>{{cant_votantes}}</h6>
              </div>
            </div>

          </div>
        </div>

      </div><!-- End Customers Card -->


      <!-- Reports -->
      <div class="col-6">
        <div class="card">

          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-percent"></i> Votos emitidos</h5>

            <!-- Line Chart -->
            <div id="reportsChart"></div>

            {{ cant_votantes|json_script:'cant_votantes' }}
            {{ votos_emitidos|json_script:'votos_emitidos' }}

            <script>
              document.addEventListener("DOMContentLoaded", () => {

                var cant_votantes = JSON.parse(document.getElementById('cant_votantes').textContent);
                var votos_emitidos = JSON.parse(document.getElementById('votos_emitidos').textContent);

                new ApexCharts(document.querySelector("#reportsChart"), {
                  series: [votos_emitidos, cant_votantes - votos_emitidos],
                  labels: ['Votos Emitidos', 'Cantidad de Votantes'],
                  chart: {
                    type: 'pie',
                  },
                  responsive: [{
                    breakpoint: 480,
                    options: {
                      chart: {
                        width: 100
                      },
                      legend: {
                        position: 'bottom'
                      }
                    }
                  }]
                }).render();
              });
            </script>
            <!-- End Line Chart -->

          </div>

        </div>
      </div><!-- End Reports -->

    </div>
  </div><!-- End Left side columns -->
{% endblock %}
