<div class="modal fade" id="modal-acciones" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="title-acc-mail"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p id="body-acc-text"></p>
            <b><p id="body-acc-mail"></p></b>

            <!-- Form inside the modal -->
            <form id="form-acc-post" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <span id="email-area" style="display: none;">
                  {{form_acciones_post.email.label_tag}}
                  {{form_acciones_post.email}}
                  <br>
                </span>

                <span id="observaciones-area" style="display: none;">
                  {{form_acciones_post.observaciones.label_tag}}
                  {{form_acciones_post.observaciones}}
                  <br>
                </span>

                <span id="archivo-area" style="display: none;">
                  {{form_acciones_post.archivo_adjunto.label_tag}}
                  {{form_acciones_post.archivo_adjunto}}
                  <br>
                </span>
                <br>

                <div class="d-flex justify-content-between">
                  <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-info">Confirmar</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>
