{% extends '_base.html' %}

{% load static %}

{% block title %}{% if object %}Editar{%else%}Crear{%endif%} | Partidos Politicos{% endblock title %}

{% block page_title %}
    <div class="pagetitle">
        <h1>Partidos Politicos</h1>
        <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard_home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'political_parties_list' %}">Partidos Politicos</a></li>
            {% if object %}
                <li class="breadcrumb-item">{{object.party_name}} ({{object.party_number}})</li>
                <li class="breadcrumb-item active">Editar</li>
            {% else %}
                <li class="breadcrumb-item active">Crear</li>
            {% endif %}
        </ol>
        </nav>
    </div>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="col-lg-10">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}

                    {% include "includes/_form_errors.html" %}
                    {% include "includes/_forms.html" %}

                    <br>
                    <hr>
                    <br>

                    <div class="d-flex justify-content-evenly">
                        <a href="{% url 'political_parties_list' %}" class="btn btn-outline-secondary">Cancelar</a>
                        <button class="btn btn-primary btn-custom" type="submit">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
